<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
      

    </configSections>
    <connectionStrings>
      
        <add name="EDGProject.Properties.Settings.Salon_ConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;Initial Catalog=Salon_;Integrated Security=True"
            providerName="System.Data.SqlClient" />
      
      <add name="defaultConnectionString" connectionString="Data Source=.;Integrated Security=True" />
      <add name="salonConnectionString" connectionString="Data Source=.;Initial Catalog=Salon;Integrated Security=True" />

    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  
    <appSettings>
        <add key="queryCustomer" value="CREATE TABLE[dbo].[Customer](
                           [ClientId][int] PRIMARY KEY IDENTITY(1, 1) NOT NULL,
                           [FirstName] [varchar](50) NOT NULL,
                           [LastName] [varchar](50) NOT NULL,
                           [Phone] [varchar](9) NOT NULL
                    )" />    
      </appSettings>

</configuration>